repos:

  # Common mistakes
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-crlf

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: sort-simple-yaml

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.2.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix, --indent, '0']

        # Conventional Commits
- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.20.0
  hooks:
  - id: commitizen
    stages: [commit-msg]

        # Formatters
- repo: https://github.com/myint/autoflake
  rev: v1.4
  hooks:
  - id: autoflake
    name: 'autoflake: removes unused variables and imports.'
    entry: bash -c 'autoflake "$@"; git add -u' --
    language: python
    args: [--in-place, --remove-all-unused-imports, --remove-unused-variables, --expand-star-imports, --ignore-init-module-imports]
    files: \.py$
    stages:
    - merge-commit

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.931
  hooks:
  - id: mypy

- repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
  rev: v0.1.0
  hooks:
  - id: dockerfilelint

        # Linters
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black
